@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pageSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pageSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.page-enter {
    animation: pageSlideIn 0.5s ease-out;
}

.page-exit {
    animation: pageSlideOut 0.5s ease-in;
}
